body{
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  margin:0;
  padding:0;
  background-color: #deeaee;
}
html{
  font-size: 62.5%;
}
#container{
  width: 6rem;
  height: 38.4rem;
  min-width:80rem;
  float: left;
  position: relative;
  margin: 0 auto;
}
.slider{
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 10%; /* Full-width */
  height: 1.5rem; /* Specified height */
  background: #deeaee; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border-radius: 10rem;
}
.slider:hover {
  opacity: 100; /* Fully shown on mouse-over */
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 1.5rem; /* Set a specific slider handle width */
  height: 2.5rem; /* Slider handle height */
  background: #BE3C76;
  cursor: pointer; /* Cursor on hover */
}
.s1{
  color:#deeaee;
  font-size: 2rem;
  font-style:italic;
  margin-top: -3%;
  margin-left: 2%;
}
.s2{
  color:#deeaee;
  font-style:italic;
  font-size: 2rem;
  margin-left: 2%;
}
nav{
  background: #133748;
  height: 15rem;
  width: 100%;
  -webkit-box-shadow: 0 1.4rem 1rem -1rem #999;
    -moz-box-shadow: 0 1.4rem 1rem -1rem #999;
    box-shadow: 0 1.4rem 1rem -1rem #999;
}
@media (-webkit-device-pixel-ratio: 1.25) {
  * {
    zoom: 0.97;
  }
}
@media (-webkit-device-pixel-ratio: 1.00) {
  * {
    zoom: 1.01;
  }
}
@media (-webkit-device-pixel-ratio: 1.50) {
  * {
    zoom: 0.934;
  }
}


/* @media (max-width:998px) {
  html{
    font-size: 55%;
  }
}


@media (max-width:768px) {
  html{
    font-size: 45%;
  }
} */
nav ul .btn{
  font-size: 1.4rem;
}
nav ul button{
  margin-left: -1%;
  background-color:  #deeaee;
  display:flex;
  font-family:sans-serif;
}
nav ul{
  margin-top: 5rem;
  float: right;
}
label{
  margin-top: 2rem;
  font-family:cursive;
  margin-left: 65rem;
  color:  #deeaee;
  font-size: 5rem;
}
.arrayBar{
  object-fit: cover;
  margin-left: 3%;
  width: 1.8rem;
  position: absolute;
  background-color:  #BB8BB3;
  transition: 0.2s all ease
}
ul .btn:hover{
  background-color: #89A8B1;
}
ul .btn{
  color:  #deeaee;
}
